body{
    background-color: rgb(145, 106, 67);
    font-family: 'Times New Roman', Times, serif;
}
/** nav bar **/
nav{
    width: 100%;
}

nav ul{
    list-style-type: none;
}

nav a{
    float: left;
    width: 33%;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    background-color: rgb(215, 187, 71);
    color: rgb(233, 241, 224);
}

nav a:hover{
    background-color: rgb(233, 241, 224);
    color: rgb(215, 187, 71);
}

header img{
    margin: 2% auto;
    width: 100%;
}


section h1{
    margin: 0 1%;
    font-size: 180%;
    color: rgb(215, 187, 71);
}

section p{
    font-size: 120%;
    float: left;
    width: 48%;
    margin: 0 1%;
    color: rgb(233, 241, 224);
}

footer{
    width: 100%;
    text-align: center;
    color: rgb(215, 187, 71);
}

.phone_num{
    color: rgb(242, 132, 95);
}

table{
    width: 100%;
}

table th{
    text-align: center;
}
